apiVersion: v1
kind: Service
metadata:
  name: inference
  labels:
    app: inference
spec:
  type: NodePort
  selector:
    app: inference
  ports:
    - port: 6999
      targetPort: 6999
      protocol: TCP