apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: inference-pvc
  labels:
    app: inference
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi