apiVersion: v1
kind: Service
metadata:
  name: qdrant
  labels:
    app: qdrant
spec:
  type: NodePort
  selector:
    app: qdrant
  ports:
    - port: 6333
      targetPort: 6333
      protocol: TCP