apiVersion: v1
kind: Service
metadata:
  name: agent
  labels:
    app: agent
spec:
  type: ClusterIP
  selector:
    app: agent
  ports:
    - port: 7000
      targetPort: 7000
      protocol: TCP