apiVersion: v1
kind: Service
metadata:
  name: agent
  labels:
    app: agent
spec:
  type: ClusterIP
  selector:
    app: ollama
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP