apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: encoding-pvc
  labels:
    app: encoding
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi